{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style ="background-color:#e0e0e0" >
      <div class="container" style="text-align:center">

		<h1>My goals</h1>
		</div>
    </div>

    <div class="container" style="text-align:center">
        {% for goals in account %}
            {% if forloop.first %}
                <h2>Goals</h2>
                </br>
                <table class="table"  >
                    <thead>
                        <tr>
                            <th style="text-align:center">Charge</th>
                            <th style="text-align:center">Purpose</th>
                            <th style="text-align:center">Category</th>
                            <th style="text-align:center">Necessary value</th>
                            <th style="text-align:center">Add money for goal</th>
                        </tr>
                    </thead>
				    <tbody>
            {% endif %}
                <tr>
                    <td>{{goals.value}}</td>
                    {% if goals.purpose != "" %}
                        <td>{{goals.purpose}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if goals.category != "" %}
                        <td>{{goals.category}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{goals.goalValue}}</td>

                    <td>
                        {% url 'add_value_goal' goals.id as add_value %}
                        <a class="btn btn-primary btn-lg" href="../..{{add_value }}" role="button">Add money</a>
                    </td>>
                </tr>

            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
    </br>
    </br>


    <div class="container">
        <div class="control-group">
            <p style="text-align:center">
                {% url 'add_goal' account_id as goals_url %}
                <a class="btn btn-primary btn-lg" href="../..{{goals_url}}" role="button">Add Goal</a>
            </p>
        </div>
    </div>
{% endblock %}