{% extends "base.html" %}
{% block content %}

    <div class="jumbotron" style ="background-color:#e0e0e0" >
      <div class="container" style="text-align:center">
		<p></p>
		<h1>Welcome to your personal wallet, {{ user.username }}</h1>
		<p>This service allows you to manage your accounts and track charges. Detailed account statistics will give you more information about spending.</p>
		<p>Your phone number: {{user.phone_number}}</p>
		  <p>Your address: {{user.address}}</p>
      </div>
    </div>

	<div class="container"  >

        <div class="container" style="padding:75px">
		  <div style="text-align:center">
			<h2>Check out account example</h2>

			<p>You can experience benefits of using our services by randomly generated account.</p>
			<div class="control-group">
			<p style="text-align:center"><a class="btn btn-primary btn-lg" href="/charges/" role="button">Generate</a></p>
			</div>
         </div>
       </div>


		<div class="container" style="text-align:center">
          {% for account in accounts %}
            {% if forloop.first %}
                <h2>Accounts</h2>
                </br>
                <table class="table"  >
                    <thead>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Account number</th>
                            <th style="text-align:center">View account</th>
							<th style="text-align:center">Edit account</th>
                        </tr>
                    </thead>
				    <tbody>
            {% endif %}
                <tr>
                    {% if account.name != "" %}
                        <td>{{account.name}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if account.account_number != "" %}
                        <td>{{account.account_number}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                        <td>
                            {% url 'status'  account.account_number as acc %}
                            <a class="btn btn-primary btn-lg" href="../..{{acc }}" role="button">Go</a>
                        </td>
						<td>
							{% url 'edit_account'  account.account_number as edit %}
                            <a class="btn btn-primary btn-lg" href="../..{{edit }}" role="button">Go</a>
						</td>
                </tr>

            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
       </div>

		<div class="container" style="padding:75px">
		<div style="text-align:center">
			<h2>Add account</h2>

			<p>Add new account</p>
			<div class="control-group">
			<p style="text-align:center"><a class="btn btn-primary btn-lg" href="/addaccount/" role="button">Validation form</a></p>
			</div>

			<h2>Edit Profile</h2>
			<div class="control-group">
			<p style="text-align:center"><a class="btn btn-primary btn-lg" href="/profile/edit" role="button">Edit Profile</a></p>
			</div>

			<h2>Logout</h2>

		<div class="control-group">
			<p style="text-align:center"><a class="btn btn-primary btn-lg" href="/logout/" role="button">Logout</a></p>
		</div>
			<br>
			 <h3>
                  <a href="/">Home</a>
             </h3>
        </div>


		</div>


    </div>

{% endblock %}